.App {
  padding: 10px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7% 93%;
  gap: 0px 0px;
  grid-template-areas:
    "navbar"
    "graphscontainer";
}

@font-face {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  src:'https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap';
}

#navbar {
  display: grid;
  grid-template-columns: 10% 60% 30%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas:
    "titlelogo titlename signup-login";
  grid-area: navbar;
}

#GraphsContainer {
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 10% 10% 60% 20%;
  gap: 10px 10px;
  grid-template-areas:
    ". . . . ."
    ". graphlarge graphleft graphright ."
    ". . . . ."
    ". . . . .";
  grid-area: graphscontainer;
  padding: 0px 20px 20px 0px;
}

#GraphLarge { 
  grid-area: graphlarge; 
  width: 90%;
  float:left;
  padding: 10px;
}

#GraphLeft { 
  grid-area: graphleft;
  width: 90%;
  border-radius: 7px;
  padding: 10px;
}

#GraphCenter { 
  grid-area: graphcenter;
  border-radius: 7px;
}

#GraphRight { 
  grid-area: graphright; 
  width: 90%;
  padding: 10px;
}

#titleLogo img{ 
  grid-area: titlelogo;
  height: 80px;
  float: right;
  padding: 0px 15px;
}

#titleName { 
  grid-area: titlename;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 64px;
  text-align: left;
}

#signup-login { 
  grid-area: signup-login; 
}

#Signup {
  float: right;
}

#Login {
  float: right;
  position: relative;
  right: 20px;
}

#sidebar { 
  grid-area: sidebar;
  border-radius: 7px;
}

button {
  border-radius: 7px;
  border: 1px white solid;
  width: 100px;
  height: 40px;
  color: #ffffff;
  background-color: #282c34;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 14px;
}

button:hover {
  color: #282c34;
  background-color: #ffffff;
  cursor: pointer;
}

#tickerSearch{
  height: 25px;
  width: 150px;
  font-size: 16px;
  margin-top: 25px;
}

#displayTech{
  margin-top: 25px;
}

.title {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #e7e7e7;
}

#drawer {
  background-color: #202329;
}